body{
  font-family: "Lucida Grande";
  background-color: floralwhite;
}

.header{
  background-color: lavenderblush;
  color: lightcoral;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 50px;
}

@keyframes rotate-z{
  0%{transform:rotateZ(0deg);}
  100%{transform:rotateZ(360deg);}
}
@-webkit-keyframes rotate-x{
  0%{-webkit-transform:rotateZ(0deg);}
  100%{-webkit-transform:rotateZ(360deg);}
}
.header img:hover{
  animation:rotate-z 2s infinite;
  -webkit-animation:rotate-z 2s infinite;
}

.main{
  color: slategray;
  margin-left: 150px;
}

h3{
  display: inline-block;
  background-color: papayawhip;
  border: 3px dotted pink;
  border-radius: 10px;
}

.shindan{
  width: 500px;
  margin-left: 100px;
  padding: 5px 20px;
  background-color: paleturquoise;
  border-style: white;
  color: palevioletred;
  border-radius: 30px;
}

.shindan h1{
  text-align: center;
}

button{
  padding: 5px 20px;
  background-color: papayawhip;
  border-style: none;
  color: palevioletred;
}

input{
  height: 20px;
}

.profile{
  display: flex;
  justify-content: left;
  align-items: center;
}
