body{
  background-color: lavenderblush;
  color: mediumorchid;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.shindan{
  padding: 5px 20px;
  background-color: lightcyan;
  border-style: white;
  color: violet;
}
button{
  padding: 5px 20px;
  background-color: papayawhip;
  border-style: none;
  color: violet;
}
input{
  height: 20px;
}