body{
  font-family: "Lucida Grande";
  background-color: floralwhite;
}

.header{
  background-color: lavenderblush;
  color: lightcoral;
  text-align: center;
  padding-bottom: 20px;
}

.main{
  color: slategray;
  margin-left: 150px;
}

h3{
  display: inline-block;
  background-color: papayawhip;
  border: 3px dotted pink;
}

.shindan{
  width: 500px;
  margin-left: 100px;
  padding: 5px 20px;
  background-color: paleturquoise;
  border-style: white;
  color: palevioletred;
}

button{
  padding: 5px 20px;
  background-color: papayawhip;
  border-style: none;
  color: palevioletred;
}

input{
  height: 20px;
}

.profile{
  display: flex;
  justify-content: left;
  align-items: center;
}
